<div class="contact-container">
  <h2 class="contact-title">Nous contacter :</h2>
  <div class="contact-section">
    <div class="contact-column">
      <div class="contact-item">
        <%= link_to "https://instagram.com", target: "_blank", class: "contact-link" do %>
          <i class="fab fa-instagram contact-icon"></i>
          <span class="contact-text">Les Petits Chatons</span>
        <% end %>
      </div>
      <div class="contact-item">
        <%= link_to "https://facebook.com", target: "_blank", class: "contact-link" do %>
          <i class="fab fa-facebook contact-icon"></i>
          <span class="contact-text">Les Petits Chatons</span>
        <% end %>
      </div>
      <div class="contact-item">
        <%= link_to "https://twitter.com", target: "_blank", class: "contact-link" do %>
          <i class="fab fa-twitter contact-icon"></i>
          <span class="contact-text">Les Petits Chatons</span>
        <% end %>
      </div>
    </div>

    <div class="contact-column">
      <div class="contact-item">
        <%= link_to "https://googlemaps.com", target: "_blank", class: "contact-link" do %>
          <i class="fas fa-map-marker-alt contact-icon"></i>
          <span class="contact-text">1 rue du Chat, 75000 CHATVILLE</span>
        <% end %>
      </div>
      <div class="contact-item">
        <%= link_to "https://gmail.com", target: "_blank", class: "contact-link" do %>
          <i class="fas fa-envelope contact-icon"></i>
          <span class="contact-text">lespetitschatons@gmail.com</span>
        <% end %>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone contact-icon"></i>
        <span class="contact-text">010203040506</span>
      </div>
    </div>
  </div>
</div>
